<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        YesCoach
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="main-div">
    <h1 class="rec-header">Sleep Recommendation</h1>
    <div class="data-div">
      <div class="data">
        <h1>10:32pm</h1>
        <p>Time to Sleep</p>
      </div>
      <div class="data">
        <h1>10:32pm</h1>
        <p>Time to Wake Up
        </p>
      </div>
    </div>

    <h2>Past Slumbers</h2>
    <div class="past-container">
      <div class="activity-div">
        <p>
          11:30pm - 7:20am

        </p>
        <p class="date">
          11/02
        </p>

      </div>
      <div class="activity-div">
        <p>
          11:30pm - 7:20am

        </p>
        <p class="date">
          11/02
        </p>

      </div>
      <div class="activity-div">
        <p>
          11:30pm - 7:20am

        </p>
        <p class="date">
          11/02
        </p>

      </div>
    </div>
  </div>

</ion-content>
