<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        YesCoach
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <div class="main-div">
    <h1 class="rec-header">Recommended Activity</h1>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Do some weightlifting</ion-card-title>
        <ion-card-subtitle>suggested @ 11/02 5:38pm</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        Weightlifting wiill help you achieve your goal of gaining muscle mass.
      </ion-card-content>
    </ion-card>

    <h2>Activities in the past 24 hours</h2>
    <div class="past-container">
      <div class="activity-div" *ngFor="let activity of activities">
        <p>
          {{activity.name}} for {{activity.duration}}
        </p>
        <p class="date">
          {{activity.date}}
        </p>
      </div>
    </div>
  </div>

</ion-content>
