.main-div {
  margin: 8px;
}

.header {
  font-size: 30px;
  margin-top: 16px;
}

.past-container {
  background-color: rgb(30, 30, 30);
  outline: rgb(26, 25, 25) solid 1px;
  padding: 8px;
  border-radius: 10px;
}

.activity-div {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(60, 60, 60);


}

.date {
  color: rgb(218, 84, 31);
}

.list {
  display: flex;
  flex-direction: column;
}

.exercise {
  display: flex;
  font-size: 16px;
  justify-content: space-between;

}
