.stat-card {
    
    
    outline: #762804 solid 1px;
    border-radius: 0.5rem;
    background-color: rgb(218, 84, 31);
   
    padding: 2px;
    height: 100%;
    text-align: center;
}

.recs {
    margin: 8px;
}

.recs-title {
    font-weight: bold;
    margin-top: 36px;
    font-size: 32px;
}

.stats-title {
    margin:8px;
    border-bottom: thin solid white;
    padding-top: 12px;
}