<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        YesCoach
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid class="ion-margin">
    <ion-row class="ion-justify-content-center ion-padding-bottom">
      <img [src]="uService.user?.photoUrl" referrerpolicy="no-referrer" alt="User photo"/>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input label="Name" readonly="true" label-placement="floating" required="true" type="text"
                     color="primary" [value]="uService.userInfo.name"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input label="Email" label-placement="floating" type="email"
                     readonly="true" color="primary" [value]="uService.userInfo.email"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-input label="Height (inches)" readonly="true" label-placement="floating" type="number" required="true"
                     min="20" color="primary" [value]="uService.userInfo.height"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-input label="Weight (pounds)" readonly="true" label-placement="floating" type="number" required="true"
                     min="7" color="primary" [value]="uService.userInfo.weight"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Birthday</ion-label>
          <ion-datetime-button datetime="start-datetime"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime id="start-datetime" readonly="true"
                            presentation="date" [value]="uService.userInfo.birthday"></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <a [routerLink]="[ '..','goals']">
          <ion-button expand="block">Set goals</ion-button>
        </a>
      </ion-col>
      <ion-col>
        <ion-button (click)="logOut()" expand="block">Log out</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
