<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title size="large">YesCoach</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="recs">
    <h1 class="rec-header">
      Choose Preferred Activities
    </h1>
  </div>

  <ion-list>
    <ion-item>
      <ion-select value="no preference" aria-label="muscles" placeholder="Choose Preferred Activities" [multiple]="true" (ionChange)="handleChange($event)">
    
        <ion-select-option value="biking">Biking</ion-select-option>
        <ion-select-option value="walking">Walking</ion-select-option>
        <ion-select-option value="running">Running</ion-select-option>
        <ion-select-option value="aerobics">Aerobics</ion-select-option>
        <ion-select-option value="badminton">Badminton</ion-select-option>
        <ion-select-option value="baseball">Baseball</ion-select-option>
        <ion-select-option value="basketball">Basketball</ion-select-option>
        <ion-select-option value="biathlon">Biathlon</ion-select-option>
        <ion-select-option value="handbiking">Handbiking</ion-select-option>
        <ion-select-option value="mountain biking">Mountain biking</ion-select-option>
        <ion-select-option value="road biking">Road biking</ion-select-option>
        <ion-select-option value="spinning">Spinning</ion-select-option>
        <ion-select-option value="stationary biking">Stationary biking</ion-select-option>
        <ion-select-option value="utility biking">Utility biking</ion-select-option>
        <ion-select-option value="boxing">Boxing</ion-select-option>
        <ion-select-option value="calisthenics">Calisthenics</ion-select-option>
        <ion-select-option value="circuit training">Circuit training</ion-select-option>
        <ion-select-option value="cricket">Cricket</ion-select-option>
        <ion-select-option value="dancing">Dancing</ion-select-option>
        <ion-select-option value="elliptical">Elliptical</ion-select-option>
        <ion-select-option value="fencing">Fencing</ion-select-option>
        <ion-select-option value="football (american)">Football (American)</ion-select-option>
        <ion-select-option value="football (australian)">Football (Australian)</ion-select-option>
        <ion-select-option value="football (soccer)">Football (Soccer)</ion-select-option>
        <ion-select-option value="frisbee">Frisbee</ion-select-option>
        <ion-select-option value="gardening">Gardening</ion-select-option>
        <ion-select-option value="golf">Golf</ion-select-option>
        <ion-select-option value="gymnastics">Gymnastics</ion-select-option>
        <ion-select-option value="handball">Handball</ion-select-option>
        <ion-select-option value="hiking">Hiking</ion-select-option>
        <ion-select-option value="hockey">Hockey</ion-select-option>
        <ion-select-option value="horseback riding">Horseback riding</ion-select-option>
        <ion-select-option value="housework">Housework</ion-select-option>
        <ion-select-option value="jumping rope">Jumping rope</ion-select-option>
        <ion-select-option value="kayaking">Kayaking</ion-select-option>
        <ion-select-option value="kettlebell training">Kettlebell training</ion-select-option>
        <ion-select-option value="kickboxing">Kickboxing</ion-select-option>
        <ion-select-option value="kitesurfing">Kitesurfing</ion-select-option>
        <ion-select-option value="martial arts">Martial arts</ion-select-option>
        <ion-select-option value="meditation">Meditation</ion-select-option>
        <ion-select-option value="mixed martial arts">Mixed martial arts</ion-select-option>
        <ion-select-option value="p90x exercises">P90X exercises</ion-select-option>
        <ion-select-option value="paragliding">Paragliding</ion-select-option>
        <ion-select-option value="pilates">Pilates</ion-select-option>
        <ion-select-option value="polo">Polo</ion-select-option>
        <ion-select-option value="racquetball">Racquetball</ion-select-option>
        <ion-select-option value="rock climbing">Rock climbing</ion-select-option>
        <ion-select-option value="rowing">Rowing</ion-select-option>
        <ion-select-option value="rowing machine">Rowing machine</ion-select-option>
        <ion-select-option value="rugby">Rugby</ion-select-option>
        <ion-select-option value="jogging">Jogging</ion-select-option>
        <ion-select-option value="running on sand">Running on sand</ion-select-option>
        <ion-select-option value="running (treadmill)">Running (treadmill)</ion-select-option>
        <ion-select-option value="sailing">Sailing</ion-select-option>
        <ion-select-option value="scuba diving">Scuba diving</ion-select-option>
        <ion-select-option value="skateboarding">Skateboarding</ion-select-option>
        <ion-select-option value="skating">Skating</ion-select-option>
        <ion-select-option value="cross skating">Cross skating</ion-select-option>
        <ion-select-option value="inline skating (rollerblading)">Inline skating (rollerblading)</ion-select-option>
        <ion-select-option value="skiing">Skiing</ion-select-option>
        <ion-select-option value="back-country skiing">Back-country skiing</ion-select-option>
        <ion-select-option value="cross-country skiing">Cross-country skiing</ion-select-option>
        <ion-select-option value="downhill skiing">Downhill skiing</ion-select-option>
        <ion-select-option value="kite skiing">Kite skiing</ion-select-option>
        <ion-select-option value="roller skiing">Roller skiing</ion-select-option>
        <ion-select-option value="sledding">Sledding</ion-select-option>
        <ion-select-option value="snowboarding">Snowboarding</ion-select-option>
        <ion-select-option value="snowmobile">Snowmobile</ion-select-option>
        <ion-select-option value="snowshoeing">Snowshoeing</ion-select-option>
        <ion-select-option value="squash">Squash</ion-select-option>
        <ion-select-option value="stair climbing">Stair climbing</ion-select-option>
        <ion-select-option value="stair-climbing machine">Stair-climbing machine</ion-select-option>
        <ion-select-option value="stand-up paddleboarding">Stand-up paddleboarding</ion-select-option>
        <ion-select-option value="strength training">Strength training</ion-select-option>
        <ion-select-option value="surfing">Surfing</ion-select-option>
        <ion-select-option value="swimming">Swimming</ion-select-option>
        <ion-select-option value="swimming (swimming pool)">Swimming (swimming pool)</ion-select-option>
        <ion-select-option value="swimming (open water)">Swimming (open water)</ion-select-option>
        <ion-select-option value="table tennis (ping pong)">Table tennis (ping pong)</ion-select-option>
        <ion-select-option value="team sports">Team sports</ion-select-option>
        <ion-select-option value="tennis">Tennis</ion-select-option>
        <ion-select-option value="treadmill (walking or running)">Treadmill (walking or running)</ion-select-option>
        <ion-select-option value="volleyball">Volleyball</ion-select-option>
        <ion-select-option value="volleyball (beach)">Volleyball (beach)</ion-select-option>
        <ion-select-option value="volleyball (indoor)">Volleyball (indoor)</ion-select-option>
        <ion-select-option value="wakeboarding">Wakeboarding</ion-select-option>
        <ion-select-option value="walking (fitness)">Walking (fitness)</ion-select-option>
        <ion-select-option value="nording walking">Nording walking</ion-select-option>
        <ion-select-option value="walking (treadmill)">Walking (treadmill)</ion-select-option>
        <ion-select-option value="waterpolo">Waterpolo</ion-select-option>
        <ion-select-option value="weightlifting">Weightlifting</ion-select-option>
        <ion-select-option value="wheelchair">Wheelchair</ion-select-option>
        <ion-select-option value="windsurfing">Windsurfing</ion-select-option>
        <ion-select-option value="yoga">Yoga</ion-select-option>
        <ion-select-option value="zumba">Zumba</ion-select-option>
        <ion-select-option value="diving">Diving</ion-select-option>
        <ion-select-option value="ergometer">Ergometer</ion-select-option>
        <ion-select-option value="ice skating">Ice skating</ion-select-option>
        <ion-select-option value="indoor skating">Indoor skating</ion-select-option>
        <ion-select-option value="curling">Curling</ion-select-option>
        <ion-select-option value="other activity">Other activity</ion-select-option>
        <ion-select-option value="crossfit">Crossfit</ion-select-option>
        <ion-select-option value="hiit">HIIT</ion-select-option>
        <ion-select-option value="interval training">Interval Training</ion-select-option>
        <ion-select-option value="walking (stroller)">Walking (stroller)</ion-select-option>
        <ion-select-option value="elevator">Elevator</ion-select-option>
        <ion-select-option value="escalator">Escalator</ion-select-option>
        <ion-select-option value="archery">Archery</ion-select-option>
        <ion-select-option value="softball">Softball</ion-select-option>
        <ion-select-option value="guided breathing">Guided Breathing</ion-select-option>
        <ion-select-option value="aerobics">Aerobics</ion-select-option>
        <ion-select-option value="archery">Archery</ion-select-option>
        <ion-select-option value="back-country skiing">Back-country skiing</ion-select-option>
        <ion-select-option value="badminton">Badminton</ion-select-option>
        <ion-select-option value="baseball">Baseball</ion-select-option>
        <ion-select-option value="basketball">Basketball</ion-select-option>
        <ion-select-option value="biathlon">Biathlon</ion-select-option>
        <ion-select-option value="biking">Biking</ion-select-option>
        <ion-select-option value="boxing">Boxing</ion-select-option>
        <ion-select-option value="calisthenics">Calisthenics</ion-select-option>
        <ion-select-option value="circuit training">Circuit training</ion-select-option>
        <ion-select-option value="cricket">Cricket</ion-select-option>
        <ion-select-option value="cross skating">Cross skating</ion-select-option>
        <ion-select-option value="cross-country skiing">Cross-country skiing</ion-select-option>
        <ion-select-option value="crossfit">Crossfit</ion-select-option>
        <ion-select-option value="curling">Curling</ion-select-option>
        <ion-select-option value="dancing">Dancing</ion-select-option>
        <ion-select-option value="diving">Diving</ion-select-option>
        <ion-select-option value="downhill skiing">Downhill skiing</ion-select-option>
        <ion-select-option value="elevator">Elevator</ion-select-option>
        <ion-select-option value="elliptical">Elliptical</ion-select-option>
        <ion-select-option value="ergometer">Ergometer</ion-select-option>
        <ion-select-option value="escalator">Escalator</ion-select-option>
        <ion-select-option value="fencing">Fencing</ion-select-option>
        <ion-select-option value="football (american)">Football (American)</ion-select-option>
        <ion-select-option value="football (australian)">Football (Australian)</ion-select-option>
        <ion-select-option value="football (soccer)">Football (Soccer)</ion-select-option>
        <ion-select-option value="frisbee">Frisbee</ion-select-option>
        <ion-select-option value="gardening">Gardening</ion-select-option>
        <ion-select-option value="golf">Golf</ion-select-option>
        <ion-select-option value="guided breathing">Guided Breathing</ion-select-option>
        <ion-select-option value="gymnastics">Gymnastics</ion-select-option>
        <ion-select-option value="hiit">HIIT</ion-select-option>
        <ion-select-option value="handball">Handball</ion-select-option>
        <ion-select-option value="handbiking">Handbiking</ion-select-option>
        <ion-select-option value="hiking">Hiking</ion-select-option>
        <ion-select-option value="hockey">Hockey</ion-select-option>
        <ion-select-option value="horseback riding">Horseback riding</ion-select-option>
        <ion-select-option value="housework">Housework</ion-select-option>
        <ion-select-option value="ice skating">Ice skating</ion-select-option>
        <ion-select-option value="in vehicle">In vehicle</ion-select-option>
        <ion-select-option value="indoor skating">Indoor skating</ion-select-option>
        <ion-select-option value="inline skating (rollerblading)">Inline skating (rollerblading)</ion-select-option>
        <ion-select-option value="interval training">Interval Training</ion-select-option>
        <ion-select-option value="jogging">Jogging</ion-select-option>
        <ion-select-option value="jumping rope">Jumping rope</ion-select-option>
        <ion-select-option value="kayaking">Kayaking</ion-select-option>
        <ion-select-option value="kettlebell training">Kettlebell training</ion-select-option>
        <ion-select-option value="kickboxing">Kickboxing</ion-select-option>
        <ion-select-option value="kite skiing">Kite skiing</ion-select-option>
        <ion-select-option value="kitesurfing">Kitesurfing</ion-select-option>
        <ion-select-option value="martial arts">Martial arts</ion-select-option>
        <ion-select-option value="meditation">Meditation</ion-select-option>
        <ion-select-option value="mixed martial arts">Mixed martial arts</ion-select-option>
        <ion-select-option value="mountain biking">Mountain biking</ion-select-option>
        <ion-select-option value="nording walking">Nording walking</ion-select-option>
        <ion-select-option value="other activity">Other activity</ion-select-option>
        <ion-select-option value="p90x exercises">P90X exercises</ion-select-option>
        <ion-select-option value="paragliding">Paragliding</ion-select-option>
        <ion-select-option value="pilates">Pilates</ion-select-option>
        <ion-select-option value="polo">Polo</ion-select-option>
        <ion-select-option value="racquetball">Racquetball</ion-select-option>
        <ion-select-option value="road biking">Road biking</ion-select-option>
        <ion-select-option value="rock climbing">Rock climbing</ion-select-option>
        <ion-select-option value="roller skiing">Roller skiing</ion-select-option>
        <ion-select-option value="rowing">Rowing</ion-select-option>
        <ion-select-option value="rowing machine">Rowing machine</ion-select-option>
        <ion-select-option value="rugby">Rugby</ion-select-option>
        <ion-select-option value="running">Running</ion-select-option>
        <ion-select-option value="running (treadmill)">Running (treadmill)</ion-select-option>
        <ion-select-option value="running on sand">Running on sand</ion-select-option>
        <ion-select-option value="sailing">Sailing</ion-select-option>
        <ion-select-option value="scuba diving">Scuba diving</ion-select-option>
        <ion-select-option value="skateboarding">Skateboarding</ion-select-option>
        <ion-select-option value="skating">Skating</ion-select-option>
        <ion-select-option value="skiing">Skiing</ion-select-option>
        <ion-select-option value="sledding">Sledding</ion-select-option>
        <ion-select-option value="snowboarding">Snowboarding</ion-select-option>
        <ion-select-option value="snowmobile">Snowmobile</ion-select-option>
        <ion-select-option value="snowshoeing">Snowshoeing</ion-select-option>
        <ion-select-option value="softball">Softball</ion-select-option>
        <ion-select-option value="spinning">Spinning</ion-select-option>
        <ion-select-option value="squash">Squash</ion-select-option>
        <ion-select-option value="stair climbing">Stair climbing</ion-select-option>
        <ion-select-option value="stair-climbing machine">Stair-climbing machine</ion-select-option>
        <ion-select-option value="stand-up paddleboarding">Stand-up paddleboarding</ion-select-option>
        <ion-select-option value="stationary biking">Stationary biking</ion-select-option>
        <ion-select-option value="still (not moving)">Still (not moving)</ion-select-option>
        <ion-select-option value="strength training">Strength training</ion-select-option>
        <ion-select-option value="surfing">Surfing</ion-select-option>
        <ion-select-option value="swimming">Swimming</ion-select-option>
        <ion-select-option value="swimming (open water)">Swimming (open water)</ion-select-option>
        <ion-select-option value="swimming (swimming pool)">Swimming (swimming pool)</ion-select-option>
        <ion-select-option value="table tennis (ping pong)">Table tennis (ping pong)</ion-select-option>
        <ion-select-option value="team sports">Team sports</ion-select-option>
        <ion-select-option value="tennis">Tennis</ion-select-option>
        <ion-select-option value="tilting (sudden device gravity change)">Tilting (sudden device gravity change)</ion-select-option>
        <ion-select-option value="treadmill (walking or running)">Treadmill (walking or running)</ion-select-option>
        <ion-select-option value="unknown (unable to detect activity)">Unknown (unable to detect activity)</ion-select-option>
        <ion-select-option value="utility biking">Utility biking</ion-select-option>
        <ion-select-option value="volleyball">Volleyball</ion-select-option>
        <ion-select-option value="volleyball (beach)">Volleyball (beach)</ion-select-option>
        <ion-select-option value="volleyball (indoor)">Volleyball (indoor)</ion-select-option>
        <ion-select-option value="wakeboarding">Wakeboarding</ion-select-option>
        <ion-select-option value="walking">Walking</ion-select-option>
        <ion-select-option value="walking (fitness)">Walking (fitness)</ion-select-option>
        <ion-select-option value="walking (stroller)">Walking (stroller)</ion-select-option>
        <ion-select-option value="walking (treadmill)">Walking (treadmill)</ion-select-option>
        <ion-select-option value="waterpolo">Waterpolo</ion-select-option>
        <ion-select-option value="weightlifting">Weightlifting</ion-select-option>
        <ion-select-option value="wheelchair">Wheelchair</ion-select-option>
        <ion-select-option value="windsurfing">Windsurfing</ion-select-option>
        <ion-select-option value="yoga">Yoga</ion-select-option>
        <ion-select-option value="zumba">Zumba</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button (click)="save();" expand="block">Save</ion-button>
  
  
</ion-content>
