<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>YesCoach Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid class="ion-margin-vertical">
    <ion-row class="ion-align-items-center ion-padding-vertical">
      <ion-col size="12">
        <ion-button size="medium" (click)="signInWithGoogle()" expand="block">Sign in with <ion-icon name="logo-google"></ion-icon>oogle
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
